/*......IMPORTAÇÕES.......*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgb(231, 231, 231);
    margin: 0px;
}

label {
    position: fixed;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.333);
    display: block;
    width: 100%;
    height: 65px;
    z-index: 2;
}

label > a {
    position: absolute;
    left: 38%;
    top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'oswald';
    font-weight: 400;
    font-size: 35px;
}

label span {
    font-size: 14px;
    font-weight: 200;
}


/*-------MENU LATERAL-------*/
    #icone-menu {
        background-color: rgba(137, 207, 209, 0);
        cursor: pointer;
        display: block;
        position: fixed;
        z-index: 2;

        margin: 10px;
        padding-left: 10px;
        height: 45px;
        width: 50px;
    }

    #barra-superior {
        position: absolute;
        top: 10px;

        display: block;
        width: 33px;
        height: 1px;
        background-color: rgb(255, 255, 255);
    }

    #barra-central {
        position: absolute;
        top: 20px;

        display: block;
        width: 33px;
        height: 1px;
        background-color: rgb(255, 255, 255);
    }

    #barra-inferior {
        position: absolute;
        top: 30px;

        display: block;
        width: 33px;
        height: 1px;
        background-color: rgb(255, 255, 255);
    }

    nav {
        transition: all ease 0.5s;
        transform: translateX(-360px);
        position: absolute;

        color: azure;
        border-right-style: solid;
        border-right-width: 8px;
        border-right-color: #2d2d2d;
        border-bottom-right-radius: 15px;

        margin-top: 65px;

        width: 350px;
        background-color: #1f1f1f;
    }

    /*===============NAVS TEMATICOS=================*/
        nav#bio-alimentacao {
            background-color: #0b2a0b;
            border-color: #124212;
        }

        nav#bio-alimentacao .fundo-nav {
            background-color: #0a220a;
        }



        nav#nutricao {
            background-color: #79501b;
            border-color: #8f6732;
        }

        nav#nutricao .fundo-nav {
            background-color: #91672f;
        }


        nav#fitness {
            background-color: #0a1864;
            border-color: #1a41ad;
        }

        nav#fitness .fundo-nav {
            background-color: #132886;
        }
    /*==============================================*/
    

    nav i {
        font-size: 26px;
        padding-right: 5px;
    }

    input {
        display: none;
        visibility: hidden;
        width: 50px;
        height: 50px;
    }

    input:checked ~ nav {
        transition: all ease 0.5s;
        
        transform: translateX(0px);
    }

    input>:checked ~ #icone-menu > #barra-superior {
        transform: rotate(45deg);
    }

    nav h1 {
        font-family: 'alumni sans';
        text-align: center;
        font-size: 40px;
    }

    nav > ul {
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 30px;
    }

    .fundo-nav {
        background-color: #262626;
        border-radius: 8px;
        padding: 5px;
    }

    ul li {
        background-color: rgba(242, 255, 60, 0);
        
        border-left-style: solid;
        border-color: #f5f5f5;
        border-width: 1px;
    }

    ul > hr {
        height: 0.1px;
        border-style: none;
        background-color: azure;
    }

    ul div.fundo {
        width: 0px;
        background-color: #f5f5f5;
        transition: width 300ms ease-out;
    }

    ul a {
        color: var(--branco_fumaca);
        background-color: rgba(247, 234, 245, 0);
        
        font-family: 'oswald';
        text-align: left;
        font-size: 27px;
        text-wrap: nowrap;
        text-decoration: none;

        padding-left: 15px;
        margin: 25px auto;
        display: block;
        
        height: 37px;
        align-content: center;

        transition: color 250ms ease-out, padding-left 350ms ease-in-out;
    }

    /*--------ANIMAÃ‡ÃƒO DOS BOTÃ•ES DO MENU(start)----------*/
        ul li:hover > div.fundo {
            background-color: #f5f5f5;
            width: 95%;
        }

        ul li:hover > div.fundo > a {
            color: #1e1e1e;
            padding-left: 25px;
        }

        ul li:hover > div.fundo > a#bio-alimentacao {
            color: #037005;
            padding-left: 25px;
        }

        ul li:hover > div.fundo > a#fitness {
            color: #0072dd;
            padding-left: 25px;
        }

        ul li:hover > div.fundo > a#nutricao {
            color: #a07236;
            padding-left: 25px;
        }
    /*--------ANIMAÃ‡ÃƒO DOS BOTÃ•ES DO MENU(end)----------*/
/*-------MENU LATERAL(END)-------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
}

#fundo-inicio {
    filter: brightness(0.3);
    position: absolute;
    background-color: blue;
    height: 700px;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 50%, #212121 99%), url('../imagens/fundo-index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

header > h2 {
    font-family: 'oswald', sans-serif;
    font-size: 90px;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 4px black;
    position: relative;
    margin: 10px;
    z-index: 1;
}

header h3 {
    position: relative;
    text-align: center;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 40px;
    color: aliceblue;
    font-weight: 300;
    text-shadow: 1px 1px 4px black;
    z-index: 1;
}

#divisor1 { /*Background-image #5f5f5f, #141414*/
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 280px;
}

#divisor2 {
    background-image: linear-gradient(to top, #5e5e5e 50%, rgb(10, 10, 10) 99%);
    width: 100%;
    height: 80px;
}

/*-------MAIN--------*/
    main {
        margin: auto;
        max-width: 900px;
        background-color: white;
        padding: 17px;
        padding-top: 80px;
    }

    main h2 {
        margin: 0px;
        margin-top: 10px;
        font-family: 'oswald';
        font-size: 40px;
        font-weight: 400;
        color: black;
    }

    main h3 {
        margin: 0px;
        margin-top: 10px;
        font-family: 'oswald';
        font-size: 25px;
        font-weight: 400;
        color: black;
    }

    main p {
        font-family: 'alumni sans';
        font-weight: 300;
        font-size: 25px;
        text-indent: 20px;
        padding: 0px;
        color: black;
    }
    
    .poster-alimentos {
        background-image: url('../imagens/alimentos-saudaveis.jpg');
        background-size: cover;
        
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .poster-alimentos > img {
        width: 100%;
    }

    .titulo-poster {
        color: white;
        filter: brightness(1);
        font-family: 'oswald';
        font-weight: 400;
        font-size: 38px;
        text-align: center;
        margin-bottom: 0px;
        padding: 0px 20px;
    }

    .texto-poster {
        color: white;
        text-align: center;
        font-family: 'alumni sans';
        font-size: 25px;
        font-weight: 400;
        margin-top: 0px;
    }

    .poster-alimentos > h2, p {
        margin: 15px 0px;
        padding: 0px 20px;
    }

    section {
        background-color: #f5f5f5;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        margin: 20px auto;
    }

    .lista-post {
        font-family: 'alumni sans';
        font-weight: 300;
        font-size: 25px;
    }

    section p {
        text-align: left;
        text-align: justify;
    }

    .banner-section {
        margin: auto;
        width: 100%;
        max-width: 230px;
    }

    .banner-section > img {
        width: 100%;
        min-width: 180px;
        max-width: 230px;
        height: 100%;
        border-radius: 8px;
    }

    .banner-post {
        margin: auto;
        max-width: 600px;
    }

    .banner-post > img {
        width: 100%;
        min-width: 180px;
        max-width: 600px;
        height: 100%;
        border-radius: 8px;
    }

    a {
        text-decoration: none;
    }

    .botao {
        background-color: #212121;
        border-radius: 50px;
        color: white;
        font-family: 'oswald';
        font-size: 17px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        width: 150px;
    }

    i {
        font-size: 19px;
        margin-left: 7px;
    }

    strong {
        font-weight: 600;
    }

    @media screen and (min-width: 1200px) {
        body {
            background-color: rgb(231, 231, 231);
        }

        label > a {
            left: 45%;
        }

        header h2 {
            font-size: 150px;
        }

        header h3 {
            font-size: 50px;
        }
        
        main > h2 {
            text-align: center;
        }

        #divisor1 {
            height: 340px;
        }

        #divisor2 {
            height: 200px;
        }

        div.poster-alimentos {
            height: 550px;
        }

        .titulo-poster {
            font-size: 80px;
        }

        .texto-poster {
            font-size: 40px;
            padding: 0px 70px;
        }

        .banner-section {
            max-width: 290px;
            margin: 0px;
        }
    
        .banner-section > img {
            max-width: 290px;
        }

        .section-text { /*Tem que arrumar (Não ta funcionando)*/
            padding: 20px;
        }

        .section-text h2 {
            font-size: 40px;
        }

        .section-text p {
            font-size: 28px;
        }
    }

    @media screen and (min-width: 1440px) {
        nav {
            transform: translateX(0px);
            width: 17.5%;
            height: 500px;
        }

        nav a{
            font-size: 23px;
        }

        label nav {
            visibility: hidden;
        }

        #icone-menu {
            visibility: hidden;
        }
    }